#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.productList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productCard{
  max-width: 250px;
}
.productCard img{
  width: 100%
}